<app-main-toolbar [titleName]="'View all Courses'"></app-main-toolbar>
@if(isBrowser){
<p-table
  [value]="allStudent"
  showGridlines
  [tableStyle]="{ 'min-width': '60rem' }"
  emptyMessage="لا توجد بيانات متاحة"
  selectionMode="single"
>
  <!-- <ng-template #caption>
              <div class="flex items-center justify-between">
                  <span class="text-xl font-bold">Products</span>
              </div>
          </ng-template> -->
  <ng-template #caption>
    <div class="d-flex align-items-center justify-content-end text-center">
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input
          type="text"
          class="form-control"
          [(ngModel)]="searchInput"
          (input)="getAllStudent()"
          placeholder="Search..."
        />
      </p-iconfield>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      @for(header of headerTableData ; track $index){
      <th class="text-center" [pSortableColumn]="header.headerName">
        {{ header.headerName }}
        @if(header.sorted){
        <p-sortIcon [field]="header.headerName" />
        }
      </th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-data>
    <tr
      class="text-center"
      [pSelectableRow]="data"
      [routerLink]="['detials/', data.id]"
      [queryParams]="{ type: 'Student' }"
    >
      <td class="text-center">{{ data.name || "-" }}</td>
      <td class="text-center">{{ data.email || "-" }}</td>
      <td class="text-center">{{ data.gpa || "-" }}</td>
      <td class="text-center">{{ data.major || "-" }}</td>
      <td class="text-center">{{ data.department || "-" }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td class="text-center" [attr.colspan]="headerTableData.length">
        No Data Available
      </td>
    </tr>
  </ng-template>
</p-table>
}

