.logoSpace{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.LogoBtn{
    position: absolute;
    bottom: 0px;
    right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1111;
    line-height: 40;
    text-align: center;
    background-color: white;
    border: 1px dashed var(--main-color);
}

.labelFile{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}