.main-bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    font-size: 56px;
    letter-spacing: 20px;

}

.login-text {
    position: relative;
}

.login-text::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    width: 30%;
    height: 1px;
    background-color: #8C8CEF;
}
.login-text::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
    width: 20%;
    height: 1px;
    background-color: #8C8CEF;
}
.letter-space{
    letter-spacing: 10px;
}

label{
    margin-left: 4px !important;
    margin-bottom: 4px !important;
}

::ng-deep .p-password{
    width: 100%
}