<section class="login vh-100">
  <div class="d-flex h-100">
    <div class="w-50 main-bg position-relative">
      <img src="image/login/Rectangle 394.svg" alt="login-ai" />
      <span class="text-logo fw-700 text-white second-font">Netology</span>
    </div>
    <div class="w-50 p-100px d-flex flex-column justify-content-center">
      <span class="fw-700 fs-3 text-center login-text mb-5 letter-space">
        Login System
      </span>
      <form [formGroup]="logIn" (submit)="login()">
        <div class="d-flex flex-column mb-3">
          <label for="username ">Email</label>
          <input
            pInputText
            id="Email"
            aria-describedby="username-help"
            placeholder="email"
            formControlName="email"
          />
        </div>
        <div class="d-flex flex-column mb-3">
          <label for="username ">Password</label>
          <p-password
            class="w-100"
            placeholder="password"
            formControlName="password"
            [toggleMask]="true"
            inputStyleClass="w-100"
          />
        </div>
        @if(detailErrMsg != null){
          <div class="err-msg text-center text-danger my-2" >
            {{detailErrMsg}}
          </div>
        }
        <div class="d-flex flex-column mb-3">
          <button class="main-btn">
            <span> Sign In </span>
            @if(isLogin){
              <i  class="fa-solid fa-circle-notch fa-spin"></i>
            }
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
