@if(isloading){
<div class="text-center">
  <p-progress-spinner
    strokeWidth="4"
    fill="transparent"
    animationDuration=".5s"
    [style]="{ width: '50px', height: '50px' }"
  />
</div>
} @else{
<div class="row g-4">
  <div class="col-md-8 bg-white p-5 border-rud">
    <div >
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [title]="chartOptions.title"
      ></apx-chart>
    </div>
  </div>
  <div class="col-md-4 bg-white p-5 border-rud">
    <div >
      <apx-chart
        [series]="chartOptionsRadar.series"
        [chart]="chartOptionsRadar.chart"
        [xaxis]="chartOptionsRadar.xaxis"
        [title]="chartOptionsRadar.title"
      ></apx-chart>
    </div>
  </div>
  <div class="col-md-4 bg-white p-5 border-rud">
    <div class="w-100">
      <apx-chart
        [series]="chartOptionsPie.series"
        [chart]="chartOptionsPie.chart"
        [xaxis]="chartOptionsPie.xaxis"
        [title]="chartOptionsPie.title"
      ></apx-chart>
    </div>
  </div>
  <div class="col-md-4 bg-white p-5 border-rud">
    <div class="w-100">
      <apx-chart
        [series]="chartOptionsPie.series"
        [chart]="chartOptionsPie.chart"
        [xaxis]="chartOptionsPie.xaxis"
        [title]="chartOptionsPie.title"
      ></apx-chart>
    </div>
  </div>
  <div class="col-md-4 bg-white p-5 border-rud">
    <div class="w-100">
      <apx-chart
        [series]="chartOptionsPie.series"
        [chart]="chartOptionsPie.chart"
        [xaxis]="chartOptionsPie.xaxis"
        [title]="chartOptionsPie.title"
      ></apx-chart>
    </div>
  </div>
</div>
}
