<div
  class="create-toolbar p-3 bg-white mb-3 d-flex justify-content-between align-items-center"
>
  <div class="create-title d-flex align-items-center gap-2 fs-3">
    <i class="fa-solid fa-square-plus main-color"></i>
    <span class="fw-bold">{{
      id ? "Update university" : "Create university"
    }}</span>
  </div>
  @if(!id){
  <div class="exacl-btn d-flex align-items-center gap-2">
    <p-button
      label="Download template"
      icon="fa-solid fa-download"
      (click)="downloadExeclTemplate()"
    />
    <p-fileUpload
      mode="basic"
      name="excelFile[]"
      chooseStyleClass="main-bg"
      chooseIcon="fa-solid fa-upload"
      accept=".xls,.xlsx,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      maxFileSize="1000000"
      (onSelect)="onExcelUpload($event)"
      [auto]="true"
      chooseLabel="Upload Excel file"
    />
  </div>
  }
</div>
<div class="create-form bg-white p-4">
  <form [formGroup]="createUniversity" (submit)="create()">
    <div class="row g-3 align-items-center">
      @if(!id){
      <div
        class="col-12 d-flex w-100 align-items-center justify-content-center"
      >
        <div class="mt-2 position-relative">
          <div class="logoSpace position-relative">
            <img [src]="Logo" alt="Logo" class="img-fluid" />
            <label
              for="File"
              class="position-absolute labelFile cursor-pointer"
            ></label>
            <input
              type="file"
              class="d-none"
              id="File"
              (change)="onFileChange($event, 'logo')"
            />
          </div>
        </div>
      </div>
      }
      <div class="col-md-4">
        <div>
          <label for="UniversityName" class="ms-1 d-block"
            >University name</label
          >
          <input
            id="UniversityName"
            formControlName="UniversityName"
            type="text"
            class="form-control mt-2 h-40px"
            placeholder="University name"
          />
        </div>
      </div>
      @if(!id){
      <div class="col-md-4">
        <div>
          <label for="Email" class="ms-1 d-block">Email</label>
          <input
            id="Email"
            type="text"
            formControlName="Email"
            class="form-control mt-2 h-40px"
            placeholder="Email"
          />
        </div>
      </div>
      }
      <div class="col-md-4">
        <div>
          <label for="PhoneNumber" class="ms-1 d-block">PhoneNumber</label>
          <input
            id="PhoneNumber"
            formControlName="PhoneNumber"
            type="text"
            class="form-control mt-2 h-40px"
            placeholder="PhoneNumber"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <label for="Address" class="ms-1 d-block">Address</label>
          <input
            id="Address"
            formControlName="Address"
            type="text"
            class="form-control mt-2 h-40px"
            placeholder="Address"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <label for="WebAddress" class="ms-1 d-block">Web address</label>
          <input
            id="WebAddress"
            formControlName="WebAddress"
            type="text"
            class="form-control mt-2 h-40px"
            placeholder="Web address"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <label for="PaidUntil" class="ms-1 d-block">Paid until</label>
          <p-datepicker
            id="PaidUntil"
            class="mt-2"
            formControlName="PaidUntil"
            placeholder="PaidUntil"
            (ngModelChange)="
              $event != null
                ? this.createUniversity.get('IsPaid')?.setValue(true)
                : this.createUniversity.get('IsPaid')?.setValue(false)
            "
            [iconDisplay]="'input'"
            [minDate]="minDate"
            [showIcon]="true"
            inputId="icondisplay"
            [inputStyle]="{ height: '40px' }"
            [style]="{ 'margin-top': '0.5rem', width: '100%' }"
          />
        </div>
      </div>
      @if(!id){
      <div class="col-md-4">
        <div>
          <label for="BannerImage" class="ms-1 d-block">Banner image</label>
          <input
            id="BannerImage"
            type="file"
            class="form-control mt-2 h-40px"
            placeholder="Banner image"
            (change)="onFileChange($event, 'banner')"
          />
        </div>
      </div>
      }
      <div class="col-md-4">
        <div>
          <label for="IsPaid" class="ms-1 d-block">Is paid</label>
          <div class="mt-2">
            <p-toggleswitch
              formControlName="IsPaid"
              id="IsPaid"
              class="h-40px"
            />
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div>
          <label for="Description" class="ms-1 d-block">Description</label>
          <textarea
            id="Description"
            formControlName="Description"
            type="text"
            class="form-control mt-2"
            placeholder="Description"
            rows="4"
          ></textarea>
        </div>
      </div>
      <div class="col-md-4">
        <p-button
          type="submit"
          [label]="id ? 'update' : 'Create'"
          styleClass="w-100"
          icon="fa-solid fa-check"
          [loading]="loading"
        />
      </div>
    </div>
  </form>
</div>
