.logo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    bottom: -15%;
    left: 3%;
    object-fit: contain;
    background-color: white;
    overflow: hidden;
}
// img{
//     max-width: 100%;
// }